---

---
<div>
  <a href="#">Actualizar</a>
</div>

<style>
  div {
    margin: 30px;
  }

  a {
    display: inline-block;
    background-color: darkslateblue;
    border-radius: 10px;
    height: 15px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    color: #c9c9c9;
    line-height: 20px;
  }
</style>