<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&display=swap" rel="stylesheet">
		<title>Web system</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer>
			<h4>Footer</h4>
		</footer>
	</body>
</html>

<style>
	html {
		font-family: "Anek Telugu", sans-serif;
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		height: 100dvh;
		background-color: #191919;
		color: whitesmoke;
	}

	footer {
		margin-top: auto;
		background-color: #373737;
		text-align: center;
	}
</style>
