---
interface Props {
  href: string
}

const reference = Astro.props
---

<div>
  <a href={reference.href}>Agregar</a>
</div>

<style>
  div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  a:hover {
    color: whitesmoke;
    background-color: #302f2f;
  }
  
  a {
    display: inline-block;
    height: 15px;
    text-decoration: none;
    background-color: #bbbbbd;
    padding: 10px 15px;
    line-height: 20px;
    border-radius: 8px;
    color: #302f2f;
    transition: color 0.2s ease-out, background-color 0.35s ease-in-out;
  }
</style>