---
interface Props {
  href: string
}

const redirect = Astro.props
---
<div>
  <a href={redirect.href}>Actualizar</a>
</div>

<style>
  div {
    margin: 30px;
  }

  a:hover {
    background-color: #b3b2b2;
    color: darkslateblue;
  }

  a {
    display: inline-block;
    background-color: darkslateblue;
    border-radius: 10px;
    height: 15px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    color: #c9c9c9;
    line-height: 20px;
    transition: all ease 0.3s;
  }
</style>